@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300&family=Oswald:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@300;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Open+Sans&family=PT+Serif:ital@1&display=swap');

.league-spartan {
    font-family: 'League Spartan', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.pt-serif {
    font-family: 'PT Serif', serif;
}

.arial {
    font-family: 'Arial', sans-serif;
}
