$font-color: #96be95;
$font-alternative-color: #a2cfa1;
$background-color: #444;
$header-footer-background-color: #2a2a2a;
$background-alternative-color: #444;

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Oswald', sans-serif;
}

.main {
    margin: 0 30rem;
}

.logo {
    img {
        height: 10rem;
        max-width: 100%;
        width: 10rem;
    }
}

.title {
    a {
        color: inherit;
        text-decoration: none;
    }
}

.header {
    background-color: $background-alternative-color;
    color: $font-color;
    padding: 10px;

    .site-header { 
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 30rem;
    }
}

.nav {
    ul {
        background-color: $header-footer-background-color;
        color: $font-alternative-color;
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.nav {
    a {
        color: $font-color !important;
    }
}

li {
    a {
        color: $font-alternative-color;
        text-decoration: none;
        transition: color 0.3s;
    }
}

img {
    max-height: 20rem;
    max-width: 20rem;
}

.footer {
    align-items: center;
    background-color: $header-footer-background-color;
    color: $font-color;
    display: flex;
    font-size: 32px;
    justify-content: space-between;
    padding: 30px;
}

code {
    background: $font-color;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    color: $background-alternative-color;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
}

pre {
    
    background: $font-color;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    color: $background-alternative-color;
    padding: 0 1em;
}

pre code {
    background: transparent;
    border: 0 none;
    display: block;
    line-height: 1.4;
    margin: 0;
    overflow-x: auto;
    padding: 1.1111em 0;
}
