{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
 
    <div class="main" role="main"> 
   <a href="{{ base_url }}/image/skog.jpg">
    <img class="back-img" src="{{ base_url }}/image/skog.jpg" alt="Beskrivning av bilden">
</a>
         {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
