<div>
<h3 class="title">Technologier</h3>
<div class="box">
 <a href="css">CSS</a>
</div>

<div class="box">
 <a href="html">HTML</a>
</div>

<div class="box">
 <a href="javascript">JAVASCRIPT</a>
</div>

<div class="box">
 <a href="php">PHP</a>
</div>

<div class="box">
 <a href="python">Python</a>
</div>

<div class="box">
 <a href="git">GIT</a>
</div>

<div class="box wide">
 <a href="sqlite">SQLITE</a>
</div>
</div>
